<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyDBConnectionString" connectionString="Data Source=.;Initial Catalog=DVLD; User Id=sa password=sa123456;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
